.totalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(205, 233, 240);
}

/* the left column*/

.firstColumn {
  background-color:rgb(139, 139, 137);
  margin-top: 100px;
  border-radius: 5%;
  width: 300px;
  height: 100%;
  padding: 10px;
}

.progressA{
  position: relative;
  width: 300px;
  height: 30px;
  background: red;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
  /*transform: rotate(90deg);*/
}

.progress__fillA{
  width: 10%;
  height: 100%;
  background:rgb(3, 102, 3); 
   
}

.progress__textA{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color:white;
}

.saveButton {
  margin: 10px 10px 50px 10px;
  border-radius: 15%;
  height: 35px;
  background-color: rgb(41, 23, 199);
  color: #f8f7f5;
  font-size: 10pt;
  font-family: arial, "lucida console", sans-serif;
}

.winnerLabel {
  background-color: burlywood;
  margin-left: 0px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10%;
}

.leftFirstSubContainer {
  flex-flow: column;
  margin-top: 50px;
}

.leftSecondSubContainer {
  display: flex;
  justify-content: flex-start;
  width: max-content;
}

.idArea {
  border-radius: 10%;
  resize: none;
  width: 30px;
}

.inArea {
  border-radius: 10%;
  resize: none;
  flex-grow: 3;
  resize: none;
  margin: 0px 25px 0px 20px;
}

.leftThirdSubContainer {
  display: flex;
  flex-flow: column;
}

.resultsOne {
  border-radius: 10%;
  resize: none;
  width: 100px;
  margin: 20px 20px 20px 170px;
}

.resultsTwo {
  border-radius: 10%;
  resize: none;
  width: 50px;
  margin: 20px 20px 20px 220px;
}

.leftFighter {
  display: flex;
  justify-content: center;
}

.rightFirstSubContainer {
  flex-flow: column;
  margin-top: 50px;
}

.rightSecondSubContainer {
  display: flex;
  justify-content: flex-start;
  width: max-content;
}

.rightThirdSubContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

/*this is the middle column*/

.secondColumn {
  background-color: rgb(45, 168, 29);
  margin-top: 100px;
  border-radius: 5%;
  width: 300px;
  height: 100%;
  padding: 10px;
  text-align: "center";
}

.pokeFightLogo{
  color:rgb(205, 233, 240);
  margin-left: 70px;
}

.startGameButton{
  margin-left: 100px;
  color:white;
  font-weight: bold;
  font-size: larger;
  background-color: red;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.nextTurnButton{
  margin-left: 115px;
  border-radius: 10x
}

.turnlabelText{
  display: flex;
  align-items: center;
  justify-content: center;
  
 }

 .turnLabel{
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: rgb(45, 168, 29)
 }

/*this is the third column*/
.thirdColumn {
  background-color: rgb(139, 139, 137);
  margin-top: 100px;
  border-radius: 5%;
  width: 300px;
  height: 100%;
  padding: 10px;
}

.progressB{
  position: relative;
  width: 300px;
  height: 30px;
  background: red;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress__fillB{
  width: 10%;
  height: 100%;
  background:rgb(3, 102, 3); 
   
}

.progress__textB{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color:white;
}


.randButton {
  margin: 10px 10px 50px 200px;
  border-radius: 15%;
  height: 35px;
  background-color: rgb(41, 23, 199);
  color: #f8f7f5;
  font-size: 10pt;
  font-family: arial, "lucida console", sans-serif;
}

.saveButton {
  margin-top: 20px;
  margin-bottom: 20px;
}

.randomButton {
  margin: 10px 10px 50px 200px;
  border-radius: 15%;
  height: 35px;
  background-color: rgb(41, 23, 199);
  color: #f8f7f5;
  font-size: 10pt;
  font-family: arial, "lucida console", sans-serif;
}

.winnerLabel {
  background-color: burlywood;
  margin-left: 100px;
  padding: 20px;
  border-radius: 10%;
}

.rightFirstSubContainer {
  flex-flow: column;
  margin-top: 50px;
}

.rightSecondSubContainer {
  display: flex;
  justify-content: flex-start;
}

.idArea {
  border-radius: 10%;
  resize: none;
  width: 30px;
}

.inArea {
  border-radius: 10%;
  resize: none;
  flex-grow: 3;
  resize: none;
  margin: 0px 25px 0px 20px;
}

.leftThirdSubContainer {
  display: flex;
  flex-flow: column;
}

.resultsOneRight {
  border-radius: 10%;
  resize: none;
  width: 100px;
  margin: 20px 170px 20px 20px;
}

.resultsTwoRight {
  border-radius: 10%;
  resize: none;
  width: 50px;
  margin: 20px 20px 20px 20px;
}

.rightFighter {
  display: flex;
  justify-content: center;
}

img {
  margin: 100px 0px 50px 50px;
}

.resultsOne {
  width: 10%;
}

textarea {
  resize: none;
}

textarea:disabled {
  background-color: lightcyan;
}

.identityInput {
  disabled: false;
  width: fit-content;
}

.gameplayUIValue {
  disabled: true;
  font-family: inherit;
  font-size: 2em;
}

.turnNumberValue {
  disabled: true;
  font-family: inherit;
  font-size: 1.5em;
}

.turnLabel:disabled {
  background-color: rgb(45, 168, 29);
  border: rgb(45, 168, 29);
  width: auto;
  max-width: 35px;
  max-height: 28px;
}
